USE [LabBaseDatos]
GO
/****** Object:  Table [dbo].[ASISTENCIA]    Script Date: 13/10/2017 22:54:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ASISTENCIA](
	[ID_EMPLEADO] [uniqueidentifier] NOT NULL,
	[FECHA] [date] NOT NULL,
	[HORA_ENTRADA] [time](7) NOT NULL,
	[HORA_SALIDA] [time](7) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 13/10/2017 22:54:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[ID_CLIENTE] [uniqueidentifier] NOT NULL,
	[NOMBRE] [varchar](75) COLLATE Modern_Spanish_CI_AS NOT NULL,
	[APELLIDOS] [varchar](75) COLLATE Modern_Spanish_CI_AS NOT NULL,
	[TELEFONO] [int] NOT NULL,
	[DIRECCION] [varchar](200) COLLATE Modern_Spanish_CI_AS NOT NULL,
	[CORREO] [varchar](150) COLLATE Modern_Spanish_CI_AS NOT NULL,
	[RFC] [varchar](50) COLLATE Modern_Spanish_CI_AS NOT NULL,
 CONSTRAINT [PK_CLIENTE] PRIMARY KEY CLUSTERED 
(
	[ID_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DETALLE_COMPRA]    Script Date: 13/10/2017 22:54:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLE_COMPRA](
	[ID_DETALLE_COMPRA] [uniqueidentifier] NOT NULL,
	[ID_ORDEN_COMPRA] [uniqueidentifier] NOT NULL,
	[ID_PRODUCTO] [uniqueidentifier] NOT NULL,
	[CANTIDAD] [int] NOT NULL,
	[PRECIO] [money] NOT NULL,
	[TOTAL] [money] NOT NULL,
 CONSTRAINT [PK_DETALLE_COMPRA] PRIMARY KEY CLUSTERED 
(
	[ID_DETALLE_COMPRA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EMPLEADO]    Script Date: 13/10/2017 22:54:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EMPLEADO](
	[ID_EMPLEADO] [uniqueidentifier] NOT NULL,
	[ID_SUCURSAL] [uniqueidentifier] NOT NULL,
	[ID_PUESTO] [uniqueidentifier] NOT NULL,
	[NOMBRE] [varchar](75) COLLATE Modern_Spanish_CI_AS NOT NULL,
	[APELLIDOS] [varchar](75) COLLATE Modern_Spanish_CI_AS NOT NULL,
	[TELEFONO] [int] NOT NULL,
	[CORREO] [varchar](150) COLLATE Modern_Spanish_CI_AS NOT NULL,
	[DIRECCION] [varchar](200) COLLATE Modern_Spanish_CI_AS NOT NULL,
	[FECHA_NACIMIENTO] [date] NOT NULL,
 CONSTRAINT [PK_EMPLEADO] PRIMARY KEY CLUSTERED 
(
	[ID_EMPLEADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FACTURA]    Script Date: 13/10/2017 22:54:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACTURA](
	[ID_FACTURA] [uniqueidentifier] NOT NULL,
	[FECHA] [date] NOT NULL,
	[ID_CLIENTE] [uniqueidentifier] NOT NULL,
	[ID_VENTA] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_FACTURA] PRIMARY KEY CLUSTERED 
(
	[ID_FACTURA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[INVENTARIO]    Script Date: 13/10/2017 22:54:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INVENTARIO](
	[ID_INVENTARIO] [uniqueidentifier] NOT NULL,
	[ID_PRODUCTO] [uniqueidentifier] NOT NULL,
	[CANTIDAD_ALMACEN] [int] NOT NULL,
	[ID_SUCURSAL] [uniqueidentifier] NOT NULL,
	[FECHA_REVISION] [date] NOT NULL,
 CONSTRAINT [PK_INVENTARIO] PRIMARY KEY CLUSTERED 
(
	[ID_INVENTARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NOMINA]    Script Date: 13/10/2017 22:54:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NOMINA](
	[ID_NOMINA] [uniqueidentifier] NOT NULL,
	[ID_EMPLEADO] [uniqueidentifier] NULL,
 CONSTRAINT [PK_NOMINA] PRIMARY KEY CLUSTERED 
(
	[ID_NOMINA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ORDEN_COMPRA]    Script Date: 13/10/2017 22:54:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDEN_COMPRA](
	[ID_ORDEN_COMPRA] [uniqueidentifier] NOT NULL,
	[ID_PROVEEDOR] [uniqueidentifier] NOT NULL,
	[FECHA_ORDEN_COMPRA] [date] NOT NULL,
	[EMPLEADO_ORDEN] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_ORDEN_COMPRA] PRIMARY KEY CLUSTERED 
(
	[ID_ORDEN_COMPRA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PRODUCTO]    Script Date: 13/10/2017 22:54:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PRODUCTO](
	[ID_PRODUCTO] [uniqueidentifier] NOT NULL,
	[NOMBRE_PRODUCTO] [varchar](50) COLLATE Modern_Spanish_CI_AS NOT NULL,
	[DESCRIPCION] [varchar](50) COLLATE Modern_Spanish_CI_AS NOT NULL,
	[PRECIO] [money] NOT NULL,
	[ID_DETALLE_COMPRA] [uniqueidentifier] NULL,
 CONSTRAINT [PK_PRODUCTO] PRIMARY KEY CLUSTERED 
(
	[ID_PRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PROVEEDOR]    Script Date: 13/10/2017 22:54:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PROVEEDOR](
	[ID_PROVEEDOR] [uniqueidentifier] NOT NULL,
	[NOMBRE] [varchar](75) COLLATE Modern_Spanish_CI_AS NOT NULL,
	[TELEFONO] [int] NOT NULL,
	[DIRECCION] [varchar](200) COLLATE Modern_Spanish_CI_AS NOT NULL,
	[FORMA_ENVIO] [varchar](50) COLLATE Modern_Spanish_CI_AS NOT NULL,
	[IMPORTACION] [bit] NOT NULL,
	[CORREO] [varchar](150) COLLATE Modern_Spanish_CI_AS NOT NULL,
	[ID_COMPRA] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_PROVEEDOR] PRIMARY KEY CLUSTERED 
(
	[ID_PROVEEDOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PUESTO]    Script Date: 13/10/2017 22:54:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PUESTO](
	[ID_PUESTO] [uniqueidentifier] NOT NULL,
	[TIPO] [varchar](50) COLLATE Modern_Spanish_CI_AS NOT NULL,
	[SUELDO] [money] NOT NULL,
	[ID_EMPLEADO] [uniqueidentifier] NULL,
 CONSTRAINT [PK_PUESTO] PRIMARY KEY CLUSTERED 
(
	[ID_PUESTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SUCURSAL]    Script Date: 13/10/2017 22:54:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SUCURSAL](
	[ID_SUCURSAL] [uniqueidentifier] NOT NULL,
	[NOMBRE_SUCURSAL] [varchar](50) COLLATE Modern_Spanish_CI_AS NOT NULL,
	[DIRECCION] [varchar](200) COLLATE Modern_Spanish_CI_AS NOT NULL,
	[TELEFONO] [int] NOT NULL,
	[ID_PROVEEDOR] [uniqueidentifier] NOT NULL,
	[ENCARGADO] [varchar](75) COLLATE Modern_Spanish_CI_AS NOT NULL,
 CONSTRAINT [PK_SUCURSAL] PRIMARY KEY CLUSTERED 
(
	[ID_SUCURSAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VENTA]    Script Date: 13/10/2017 22:54:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENTA](
	[ID_VENTA] [uniqueidentifier] NOT NULL,
	[ID_EMPLEADO] [uniqueidentifier] NOT NULL,
	[FECHA] [date] NOT NULL,
	[ID_PRODUCTO] [uniqueidentifier] NOT NULL,
	[SUBTOTAL] [money] NOT NULL,
	[TOTAL] [money] NOT NULL,
 CONSTRAINT [PK_VENTA] PRIMARY KEY CLUSTERED 
(
	[ID_VENTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Index [IXFK_ASISTENCIA_EMPLEADO]    Script Date: 13/10/2017 22:54:53 ******/
CREATE NONCLUSTERED INDEX [IXFK_ASISTENCIA_EMPLEADO] ON [dbo].[ASISTENCIA]
(
	[ID_EMPLEADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IXFK_DETALLE_COMPRA_ORDEN_COMPRA]    Script Date: 13/10/2017 22:54:53 ******/
CREATE NONCLUSTERED INDEX [IXFK_DETALLE_COMPRA_ORDEN_COMPRA] ON [dbo].[DETALLE_COMPRA]
(
	[ID_ORDEN_COMPRA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IXFK_DETALLE_COMPRA_PRODUCTO]    Script Date: 13/10/2017 22:54:53 ******/
CREATE NONCLUSTERED INDEX [IXFK_DETALLE_COMPRA_PRODUCTO] ON [dbo].[DETALLE_COMPRA]
(
	[ID_PRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IXFK_FACTURA_CLIENTE]    Script Date: 13/10/2017 22:54:53 ******/
CREATE NONCLUSTERED INDEX [IXFK_FACTURA_CLIENTE] ON [dbo].[FACTURA]
(
	[ID_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IXFK_FACTURA_VENTA]    Script Date: 13/10/2017 22:54:53 ******/
CREATE NONCLUSTERED INDEX [IXFK_FACTURA_VENTA] ON [dbo].[FACTURA]
(
	[ID_VENTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IXFK_INVENTARIO_PRODUCTO]    Script Date: 13/10/2017 22:54:53 ******/
CREATE NONCLUSTERED INDEX [IXFK_INVENTARIO_PRODUCTO] ON [dbo].[INVENTARIO]
(
	[ID_PRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IXFK_INVENTARIO_SUCURSAL]    Script Date: 13/10/2017 22:54:53 ******/
CREATE NONCLUSTERED INDEX [IXFK_INVENTARIO_SUCURSAL] ON [dbo].[INVENTARIO]
(
	[ID_SUCURSAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IXFK_NOMINA_EMPLEADO]    Script Date: 13/10/2017 22:54:53 ******/
CREATE NONCLUSTERED INDEX [IXFK_NOMINA_EMPLEADO] ON [dbo].[NOMINA]
(
	[ID_EMPLEADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IXFK_ORDEN_COMPRA_PROVEEDOR]    Script Date: 13/10/2017 22:54:53 ******/
CREATE NONCLUSTERED INDEX [IXFK_ORDEN_COMPRA_PROVEEDOR] ON [dbo].[ORDEN_COMPRA]
(
	[ID_PROVEEDOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IXFK_PUESTO_EMPLEADO]    Script Date: 13/10/2017 22:54:53 ******/
CREATE NONCLUSTERED INDEX [IXFK_PUESTO_EMPLEADO] ON [dbo].[PUESTO]
(
	[ID_EMPLEADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IXFK_SUCURSAL_PROVEEDOR]    Script Date: 13/10/2017 22:54:53 ******/
CREATE NONCLUSTERED INDEX [IXFK_SUCURSAL_PROVEEDOR] ON [dbo].[SUCURSAL]
(
	[ID_PROVEEDOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IXFK_VENTA_EMPLEADO]    Script Date: 13/10/2017 22:54:53 ******/
CREATE NONCLUSTERED INDEX [IXFK_VENTA_EMPLEADO] ON [dbo].[VENTA]
(
	[ID_EMPLEADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ASISTENCIA]  WITH CHECK ADD  CONSTRAINT [FK_ASISTENCIA_EMPLEADO] FOREIGN KEY([ID_EMPLEADO])
REFERENCES [dbo].[EMPLEADO] ([ID_EMPLEADO])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ASISTENCIA] CHECK CONSTRAINT [FK_ASISTENCIA_EMPLEADO]
GO
ALTER TABLE [dbo].[DETALLE_COMPRA]  WITH CHECK ADD  CONSTRAINT [FK_DETALLE_COMPRA_ORDEN_COMPRA] FOREIGN KEY([ID_ORDEN_COMPRA])
REFERENCES [dbo].[ORDEN_COMPRA] ([ID_ORDEN_COMPRA])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DETALLE_COMPRA] CHECK CONSTRAINT [FK_DETALLE_COMPRA_ORDEN_COMPRA]
GO
ALTER TABLE [dbo].[DETALLE_COMPRA]  WITH CHECK ADD  CONSTRAINT [FK_DETALLE_COMPRA_PRODUCTO] FOREIGN KEY([ID_PRODUCTO])
REFERENCES [dbo].[PRODUCTO] ([ID_PRODUCTO])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DETALLE_COMPRA] CHECK CONSTRAINT [FK_DETALLE_COMPRA_PRODUCTO]
GO
ALTER TABLE [dbo].[FACTURA]  WITH CHECK ADD  CONSTRAINT [FK_FACTURA_CLIENTE] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTE] ([ID_CLIENTE])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FACTURA] CHECK CONSTRAINT [FK_FACTURA_CLIENTE]
GO
ALTER TABLE [dbo].[FACTURA]  WITH CHECK ADD  CONSTRAINT [FK_FACTURA_VENTA] FOREIGN KEY([ID_VENTA])
REFERENCES [dbo].[VENTA] ([ID_VENTA])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FACTURA] CHECK CONSTRAINT [FK_FACTURA_VENTA]
GO
ALTER TABLE [dbo].[INVENTARIO]  WITH CHECK ADD  CONSTRAINT [FK_INVENTARIO_PRODUCTO] FOREIGN KEY([ID_PRODUCTO])
REFERENCES [dbo].[PRODUCTO] ([ID_PRODUCTO])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[INVENTARIO] CHECK CONSTRAINT [FK_INVENTARIO_PRODUCTO]
GO
ALTER TABLE [dbo].[INVENTARIO]  WITH CHECK ADD  CONSTRAINT [FK_INVENTARIO_SUCURSAL] FOREIGN KEY([ID_SUCURSAL])
REFERENCES [dbo].[SUCURSAL] ([ID_SUCURSAL])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[INVENTARIO] CHECK CONSTRAINT [FK_INVENTARIO_SUCURSAL]
GO
ALTER TABLE [dbo].[NOMINA]  WITH CHECK ADD  CONSTRAINT [FK_NOMINA_EMPLEADO] FOREIGN KEY([ID_EMPLEADO])
REFERENCES [dbo].[EMPLEADO] ([ID_EMPLEADO])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NOMINA] CHECK CONSTRAINT [FK_NOMINA_EMPLEADO]
GO
ALTER TABLE [dbo].[ORDEN_COMPRA]  WITH CHECK ADD  CONSTRAINT [FK_ORDEN_COMPRA_PROVEEDOR] FOREIGN KEY([ID_PROVEEDOR])
REFERENCES [dbo].[PROVEEDOR] ([ID_PROVEEDOR])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ORDEN_COMPRA] CHECK CONSTRAINT [FK_ORDEN_COMPRA_PROVEEDOR]
GO
ALTER TABLE [dbo].[PUESTO]  WITH CHECK ADD  CONSTRAINT [FK_PUESTO_EMPLEADO] FOREIGN KEY([ID_EMPLEADO])
REFERENCES [dbo].[EMPLEADO] ([ID_EMPLEADO])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PUESTO] CHECK CONSTRAINT [FK_PUESTO_EMPLEADO]
GO
ALTER TABLE [dbo].[SUCURSAL]  WITH CHECK ADD  CONSTRAINT [FK_SUCURSAL_PROVEEDOR] FOREIGN KEY([ID_PROVEEDOR])
REFERENCES [dbo].[PROVEEDOR] ([ID_PROVEEDOR])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SUCURSAL] CHECK CONSTRAINT [FK_SUCURSAL_PROVEEDOR]
GO
ALTER TABLE [dbo].[VENTA]  WITH CHECK ADD  CONSTRAINT [FK_VENTA_EMPLEADO] FOREIGN KEY([ID_EMPLEADO])
REFERENCES [dbo].[EMPLEADO] ([ID_EMPLEADO])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VENTA] CHECK CONSTRAINT [FK_VENTA_EMPLEADO]
GO
